li.root > a {
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--surface-900);
  margin: 0.75rem 0;
}

.active-menuitem a {
  color: var(--indigo-400) !important;
}

.menu-separator {
  height: 1px;
  margin: 10px 0;
  background-image: linear-gradient(to right, transparent, #dbdbdb, transparent);
  border: none;
  width: 100%;
}
