// Import Bootstrapa
@import '~bootstrap/scss/bootstrap';

// Tło
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #f5f5f5, #f1f1f1);
  z-index: 0;
}

// Tło blur
.light-blur-bg {
  background-color: var(--surface-50);
  opacity: 0.9;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
}

@media screen and (min-width: 1960px) {
  .layout-main, .landing-wrapper {
    width: 100%!important;
  }
}

// Rozmiar inputów
.p-inputtext.p-inputtext-sm,
.p-inputtext-sm .p-inputtext {
  font-size: 0.675rem !important;
}

// Usunięcie padding'u w card od prime react'a
.p-card .p-card-content {
  padding: 0rem 0;
}

// Poprawienie rozmiaru czcionki w tab od prime react'a
.p-tabview .p-tabview-nav li {
  font-size: 14px;
}

// Poprawienie koloru przycisku success
.btn-success {
  color: #ffffff!important;
  background: #22c55e!important;
  border: 1px solid #22c55e!important;
}
.btn-success:hover {
  background: #16a34a!important;
  color: #ffffff!important;
  border-color: #16a34a!important;
}

// Jasniejszy hr
.hr-light {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

// swal2
.swal2-title {
  font-size: 1.3em;
}

// Zeskalowanie switch'a
.small-input-switch {
  transform: scale(0.6); /* Zmniejsza przełącznik o 30% */
}

// Zmiana styli dla switch'a
.p-inputswitch.p-highlight .p-inputswitch-slider:before {
  background: #ffffff;
  box-shadow: 0px 1px 8px #b1b1b1;
}

// Poprawienie styli od menu
.layout-menu {
  li {
    font-size: 14px;
  }
}

.languageSelect .p-dropdown {
  border: none;
}

// Loader
.mat-table-custom-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: rgba(255, 255, 255, 0.16);
  // border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(8.5px);
  // -webkit-backdrop-filter: blur(8.5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Loader container */
.loader {
  margin-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sk-circle {
  position: relative;
  width: 60px; /* Rozmiar całego loadera */
  height: 60px;
}

.sk-dot {
  position: absolute;
  width: 10px; /* Rozmiar kropek */
  height: 10px;
  background-color: #3498db; /* Kolor kropek */
  border-radius: 50%;
  animation: sk-rotate 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.sk-dot:nth-child(1) {
  animation-delay: 0s;
  transform: rotate(0deg) translate(25px);
}

.sk-dot:nth-child(2) {
  animation-delay: 0.2s;
  transform: rotate(45deg) translate(25px);
}

.sk-dot:nth-child(3) {
  animation-delay: 0.4s;
  transform: rotate(90deg) translate(25px);
}

.sk-dot:nth-child(4) {
  animation-delay: 0.6s;
  transform: rotate(135deg) translate(25px);
}

.sk-dot:nth-child(5) {
  animation-delay: 0.8s;
  transform: rotate(180deg) translate(25px);
}

.sk-dot:nth-child(6) {
  animation-delay: 1s;
  transform: rotate(225deg) translate(25px);
}

.sk-dot:nth-child(7) {
  animation-delay: 1.2s;
  transform: rotate(270deg) translate(25px);
}

.sk-dot:nth-child(8) {
  animation-delay: 1.4s;
  transform: rotate(315deg) translate(25px);
}

@keyframes sk-rotate {
  0% {
    transform: rotate(0deg) translate(25px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(25px) rotate(-360deg);
  }
}
